.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@font-face {
  font-family: 'Bangers', cursive;
  src: url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
}
header {
  padding: 30px 10%;
}
body {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4abff18f-4195-4949-92c3-5584509bb517/d22y32b-66f5f86a-6064-41e7-9093-99ea443ad12d.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzRhYmZmMThmLTQxOTUtNDk0OS05MmMzLTU1ODQ1MDliYjUxN1wvZDIyeTMyYi02NmY1Zjg2YS02MDY0LTQxZTctOTA5My05OWVhNDQzYWQxMmQuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.CtmPrx8o__raiAVfWvPVefAb8zUCsTF0tPH1ufBH9KI');
  font-family: 'Bangers', cursive;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* logo section */

img#logo {
  width: 800px;
}
/* nav bar redone */
/* nav bar Section */
nav {
  background-color: rgb(133, 180, 238);
  display: flex;
  text-decoration: none;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px white;
}
nav li {
  display: flex;
  flex-direction: row;
  font-family: 'Bangers', cursive;
  font-size: 32px;
  font-weight: 500;
  color: whitesmoke;
  text-decoration: none;
}
.nav_links li {
  list-style: none;
  text-align: center;
}

.nav_links li {
  display: inline-block;
  padding: 0px 80px;
}
.nav_links li {
  transition: all 0.3s easte 0s;
  padding: 0px 80px;
  flex-wrap: nowrap;
}

.nav_links li:hover {
  color: white;
}

.nav_links a {
  text-decoration: none;
}
/* nav button section */
nav button {
  -moz-box-shadow: 0px 1px 0px 0px #fff6af;
  -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
  box-shadow: 0px 1px 0px 0px #fff6af;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #ffec64),
    color-stop(1, #ffab23)
  );
  background: -moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background: -webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background: -o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background: -ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
  background-color: #ffec64;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #12100e;
  display: inline-block;
  cursor: pointer;
  color: royalblue;
  font-family: 'Bangers', cursive;
  font-size: 32px;
  font-weight: bold;
  padding: 6px 0px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
}
nav button:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #ffab23),
    color-stop(1, #ffec64)
  );
  background: -moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background: -webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background: -o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background: -ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
  background-color: #ffab23;
}
nav button:active {
  position: relative;
  top: 1px;
}

/* speech bubble section */
p.speech {
  position: absolute;
  width: 200px;
  height: 100px;
  text-align: center;
  line-height: 300px;
  background-color: #fff;
  border: 8px solid #666;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 100px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  left: 52%;
  font-family: 'Bangers', cursive;
  font-size: 28px;
}

p.speech:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  top: 100px;
  border: 15px solid #666;
  border-color: #fff transparent transparent #fff;
}

/* ThanosSection */
#thanos-section {
  display: flex;
  height: 600px;
  /* height: 475px;originally  */
}
#thanos-image {
  width: 70%;
  text-align: right;
  padding-top: 100px;
  image-rendering: crisp-edges;
}
#thanos-image img {
  height: 150%;
  display: flexbox;
  padding-bottom: 50px;
  image-rendering: crisp-edges;
}

/* PicSection */
#pic-section h2 {
  color: black;
  text-align: center;
  font: 'Bangers', cursive;
  font-size: 36px;
  text-align: center;
}

#narrcomic {
  background-color: #ffda07;
  font: 'Bangers', cursive;
  position: relative;
  padding: 1.5px;
  color: black;
  border-radius: 5%;
  border: 10px solid black;
}

#hero-gallery {
  display: grid;
  grid-template-rows: 350px 350px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px 25px;
}

#hero-gallery img {
  object-fit: cover;
  height: 350px;
  width: 100%;
  background-color: black;
  border: 15px solid #ffda07;
  padding: 10px;
  border-radius: 75%;
}

/* search page */

.result-card {
  display: none;
}

.show-result-card {
  display: block;
}

.card {
  background-color: whitesmoke;
  height: 550px;
  width: 400px;
  margin: auto;
  top: 1200px;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 10px #262626;
}
/* Name */
.card h2 {
  color: black;
  text-align: center;
  position: relative;
  top: 80px;
  font-size: 36px;
}
/* Real name */
.card h3 {
  color: black;
  text-align: center;
  position: relative;
  top: 70px;
  font-size: 16px;
  padding-left: 10px;
}
/* Height / Weight */
.card h4 {
  color: black;
  text-align: center;
  position: relative;
  top: 50px;
  font-size: 16px;
}
/* First Appearance */
.card h5 {
  color: black;
  text-align: center;
  position: relative;
  top: 25px;
  font-size: 16px;
}
/* Groups */
.card h6 {
  color: black;
  text-align: center;
  position: relative;
  top: 15px;
  left: 13px;
  font-size: 15px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
  width: 88%;
}

.upper {
  height: 180px;
  width: 400px;
  background-color: blue;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 30%,
    #ffcc70 66%
  );
  border-radius: 10px 10px 0px 0px;
}
.upper img {
  height: 200px;
  width: 50%;
  border-radius: 75%;
  position: relative;
  top: 80px;
  border: 4px solid white;
  outline: none;
}

/* Form button and input */
.form-search {
  width: 500px;
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.form-search p {
  font-size: 50px;
  color: red;
  text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
  text-align: center;
  right: 20%;
}
.form-search input {
  position: relative;
  top: 95%;
  left: 20px;
  padding: 8px 15px;
  background: rgba(248, 248, 248, 0.561);
  border: 0px solid #dbdbdb;
  width: 250px;
  margin-bottom: 20px;
}

.form-search button {
  position: relative;
  top: 50%;
  left: -20px;
  right: 200px;
  padding: 8px 15px;
  border: 2px solid #207cca;
  background-color: #207cca;
  color: #fafafa;
  cursor: pointer;
}

/* Trilogy */

#trilogy-img img {
  width: 75%;
  height: auto;
  box-sizing: border-box;
  border: 6px solid whitesmoke;
  display: flexbox;
  margin-right: 20px;
  margin-left: 20px;
}

#trilogy-info {
  background-color: white;
  width: 100%;
  margin: 0;
  height: 160vh;
  position: absolute;
  text-align: center;
  color: black;
}

#trilogy-info h1 {
  color: red;
  font-size: 28px;
  letter-spacing: 1px;
  text-align: center;
  margin: 0;
  position: relative;
  padding-top: 22px;
}

#trilogy-info h2 {
  line-height: 0;
  color: black;
  font-size: 32px;
  padding-bottom: 30px;
  text-align: center;
}
#trilogy-info p {
  color: black;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  line-height: 1.3;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin: 15px;
}

#trilogy-info h3 {
  padding-top: 50px;
  line-height: 0;
  color: black;
  font-size: 50px;
  padding-bottom: 30px;
  text-align: center;
}

/* Comic images */
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.box {
  position: relative;
  width: 300px;
  height: 400px;
  background: #000;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
  margin-right: 20px;
  margin-left: 20px;
}
.box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.box:hover .imgBx img {
  opacity: 0;
}

.box .content {
  position: absolute;
  bottom: 20px;
  left: 10%;
  width: 80%;
  height: 60px;
  background: #fff;
  transition: 0.5s;
  overflow: hidden;

  padding: 15px;
  box-sizing: border-box;
}

.box:hover .content {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}

.box .content h4 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.box .content p {
  margin: 10px 0 0;
  padding: 0;
  opacity: 0;
  line-height: 1.2em;
  transition: 0.5s;
  text-align: justify;
}

.box:hover .content p {
  opacity: 1;
  transition-delay: 0.5s;
}

/* box2 */

.box2 {
  position: relative;
  width: 300px;
  height: 400px;
  background: #000;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
  margin-right: 200px;
  margin-left: 200px;
  margin-top: 35px;
}
.box2 .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box2 .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.box2:hover .imgBx img {
  opacity: 0;
}

.box2 .content {
  position: absolute;
  bottom: 20px;
  left: 10%;
  width: 80%;
  height: 60px;
  background: #fff;
  transition: 0.5s;
  overflow: hidden;

  padding: 15px;
  box-sizing: border-box;
}

.box2:hover .content {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}

.box2 .content h4 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.box2 .content p {
  margin: 10px 0 0;
  padding: 0;
  opacity: 0;
  line-height: 1.2em;
  transition: 0.5s;
  text-align: justify;
}

.box2:hover .content p {
  opacity: 1;
  transition-delay: 0.5s;
}
